.right {
  background-color: #e1e1e1;
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 32%), 0 10px 15px 0 rgb(0 0 0 / 11%);
}
 .rights{
float:left;
}
 .mar{
float:left;
}
 .mars{
float:right;
}

.custom-wrapper {
padding: 20px
}

.custom-a {
background-color: #fff;
}
.nav-tabs>li>a {
    margin-right: 0px !important;
    line-height: 1.42857143 !important;
    border: 1px solid transparent !important;
    border-radius: 4px 4px 0 0 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #190080 !important;
    font-weight: 600;
    cursor: default !important;
    background-color: #e1e1e1 !important;
    border: 1px solid #ddd !important;
    border-bottom-color: transparent !important;
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 32%), 0 10px 15px 0 rgb(0 0 0 / 11%);
    }

/*SELECT BOX*/
/* ///  END DECORATION CSS  ///  */
.caption-bold {
font-weight: 600;
    color: #190080;
}
.select-container {
    display: grid;
}
.select-wrapper {
    padding: 10px;
    border-radius: 5px;
    border: none
}
.icon_select_mate {
  position: absolute;
  top:20px;
  right: 2%;
  font-size: 16px;
    height: 22px;
  transition: all 275ms;
}

.select_mate {
  position: relative;
  float: left;
  min-width: 300px;
  width: 300px;
  min-height: 60px;
  font-family: 'Roboto';
  color: #777;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.3);
  border-radius: 3px;
  transition: all 375ms ease-in-out;
/* Oculto el elemento select */
  select {
  position: absolute;
  overflow: hidden;
  height: 0px;
  opacity: 0;
    z-index: -1;
  }
}

.cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
}

.cont_select_int {
 position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: #fff;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
  transition: all 375ms ease-in-out;

	li {
	position: relative;
    float: left;
    width: 96%;
    border-bottom:1px solid #E0E0E0;
    background-color: #F5F5F5;
    list-style-type: none;
    padding: 10px 2%;
    margin: 0px;
    transition: all 275ms ease-in-out;
    display: block;
    cursor:pointer;

		&:last-child {
        border-radius: 3px;
        border-bottom:0px;

        }
         &:hover {
		background-color: #EEEEEE;
		 }
     }

   .active {
   background-color: #EEEEEE;
   }

}

/* etiqueta <p> con la opcion selecionada  */
.selecionado_opcion {
    padding: 20px 2%;
    width: 96%;
    display: block;
    margin: 0px;
    cursor: pointer;
}



.custom-container{
margin-left:5%;
margin-right:5%;
display: grid;
}

.card-wrapper {
flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.option-container {
display: grid;
    margin: 5px;
}
.caption-text {
font-size: 10px;
    color: #6d6d6d;
    text-align: left;
}
.test-main {
    font-size: 12px;
    color: #190080;
    font-weight: 600;
    text-align: left;
}
.large-text {
font-size: 14px;
    color: #000000;
    text-align: left;
}
.test-secondary {
    font-size: 11px;
    color: #000000;
    font-weight: 600;
    text-align: left;
}
.curved-box {
border-color: #c6c4c4;
    border-style: solid;
    border-radius: 10px;
    background: #fcf7f7;
}
.grey-box {
    border-radius: 6px;
    border-style: solid;
    border-color: #c6c4c4;
    color: #000000;
    width: 100%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 5px;
    font-size: 12px;
    font-weight: 600;
}
.red-box {
background: #ff0000;
    border-radius: 6px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 5px;
    font-size: 12px;
    font-weight: 600;
}
.line {
    margin: 0px
}

.blue-box {
background: #00008B;
    border-radius: 6px;
    color: #ffffff;
    width: 75%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 5px;
    font-size: 12px;
    font-weight: 600;
}

